/* ---------- */
/* General */
/* ---------- */
html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
		overflow: hidden;
}
body
{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	overflow-y: hidden;
}

.hide {
	opacity: 0 !important;
}

header.toolbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0 auto;
    line-height: 1.4rem;
		position: relative;
		display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: row;
	  -ms-flex-direction: row;
	  flex-direction: row;
}

#status
{
	font-size: 1.3rem;
	line-height: 4rem;
	font-weight: normal;
	color: black;
	opacity:0.8;
	margin: 0 1rem;
	padding: 0;
	flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
}

#readytodraw {
	background: none;
	border: none;
	padding: 0 0.5rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	opacity: 0.8;
	cursor: pointer;
}

main {
	width: 100%;
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

/* -------------------------- */
/* second panel section */
/* -------------------------- */

#gamepanel
{
	background: #fff;
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
}

#canvas
{
	cursor:crosshair;
	background:#ccc;
	width: 100%;
}

span.ink {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin: 0 0.25rem;
	cursor: pointer;
	border-radius: 50%;
	transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
}

.ink:hover {
	border-radius: 0;
}

.black {
	background: #252525;
}

.color {
	background: #039be5;
}
/* ---------------------- */
/* third panel section */
/* ---------------------- */

.guess {
	width: 320px;
	max-width: 90%;
	margin: 0 auto;
	position: fixed;
	bottom: 4rem;
	background: white;
	left: 0;
	right: 0;
	padding: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	opacity: 1;
	transition: opacity 0.4s;
	z-index: 2;
}

#chatcontent
{
	background: #fff;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#chatcontent p
{
	padding:0px;
	margin-top:2px;
	margin-bottom:0;
	opacity: 0.6;
}

#chatcontent p:first-child {
	opacity: 1 !important;
}
#chatnick
{
	border-radius:2px;
	border:1px solid #ccc;
	padding:5px;
	width:80px;
}

#chatinput
{
	border-radius:2px;
	border:1px solid #ccc;
	padding:5px;
	width:200px;
}

.action-bar {
	position: fixed;
	bottom:0.5rem;
	left:0;
	right:0;
	text-align:center;
}
.action {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: white;
  background: #252525;
	display:inline-block;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
