/* ---------- */
/* General */
/* ---------- */
html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
		overflow: hidden;
}
body
{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	overflow-y: hidden;
}

p.paragraph {
    font-size: 1.6rem;
}

.hide {
	opacity: 0 !important;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
	pointer-events: none;
}

.hide::before {
	content: initial !important;
}

header.toolbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0 auto;
    line-height: 1.4rem;
		position: relative;
		display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: row;
	  -ms-flex-direction: row;
	  flex-direction: row;
		z-index: 3;
}

.toolbar h2
{
	font-size: 1.3rem;
	line-height: 4rem;
	font-weight: normal;
	color: black;
	opacity:0.8;
	margin: 0 1rem;
	padding: 0;
	flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

button,
input[type="button"] {
	background: none;
	border: none;
	padding: 0 0.5rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	cursor: pointer;
	transition: background 0.4s;
	color: white;
}

button:hover,
input[type="button"]:hover {
	background: rgba(0,0,0,0.24);
}

button.light {
	color: black;
}
main {
	width: 100%;
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

/* -------------------------- */
/* second panel section */
/* -------------------------- */

.top {
	background: #333;
}
#gamepanel
{
	width: 100%;
	margin: 0 auto;
	max-width: 400px;
	max-height: 400px;
	position: relative;

}

#canvas
{
	background:#333;
	cursor:crosshair;
	width: 100%;
	transition: background 1s;
}

#draw-options {
	position: absolute;
	bottom: 0;
}
span.ink {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin: 0 0.25rem;
	cursor: pointer;
	border-radius: 50%;
	transition: border-radius 0.5s;
	-webkit-transition: border-radius 0.5s;
}

.ink:hover {
	border-radius: 0;
}

.black {
	background: #252525;
}

.color {
	background: #039be5;
}
/* ---------------------- */
/* third panel section */
/* ---------------------- */
.bottom {
	box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.26);
	z-index: 3;
}
.guess {
	width: 320px;
	max-width: 90%;
	margin: 0 auto;
	position: fixed;
	bottom: 4rem;
	background: white;
	left: 0;
	right: 0;
	padding: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	opacity: 1;
	transition: opacity 0.4s;
	z-index: 2;
}

#chatcontent
{
	background: #fff;
	overflow: auto;
	overflow-x: hidden;
	padding: 0.5rem 1rem;
}

#chatcontent p
{
	margin-top:4px;
	margin-bottom:0;
	opacity: 0.6;
	padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);

}

#chatcontent p:first-child {
	opacity: 1 !important;
}
#chatnick
{
	border-radius:2px;
	border:1px solid #ccc;
	padding:5px;
	width:80px;
}

#chatinput
{
	border-radius:2px;
	border:1px solid #ccc;
	padding:5px;
	width:200px;
}

.action-bar {
	background: white;
	position: fixed;
	bottom:0rem;
	left:0;
	right:0;
	text-align:center;
	box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.26);
  height: 2.5rem;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.action {
  width: 3rem;
  height: 3rem;
	margin: 0 10%;
  border-radius: 50%;
	opacity: 1;
  color: white;
  background: #252525 !important;
	display:inline-block;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transform: translateY(-1rem);
	-webkit-transform: translateY(-1rem);
}
.spacer {
	width: 4rem;
	background: white;
	border-radius: 0 0 2rem 2rem;
	margin: 0 -2rem;
	z-index: 2;
	transform: translateY(-0.5rem);
}

.action-bar .box {
	flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
}

#invite {
	background: #f44336;
    box-shadow: 0 -3px 5px 0 rgba(230,81,0,0.25);
}
#readytodraw {
	background: #42a5f5;
	box-shadow: 0 -3px 5px 0 rgba(63,81,181,0.25);
}

/** MODAL */

panel.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 600px;
    max-width: 80%;
    height: 400px;
    max-height: 50%;
    margin: auto;
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		opacity: 1;
		transition: opacity 0.5s;
}
.modal .content {
	background: rgb(250,250,250);
	height: 100%;
	border-radius: 0.25rem;
}
.modal::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
		z-index: -1;
}

.modal section {
	padding: 2rem;
}

.modal footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 4rem;
	padding: 0 1rem;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex {
	flex: 1;
}
.modal button {
	height: 3rem;
	border-radius: 0.25rem;
}
